.root {
  --white: #ffffff;
  --dark-grey: #2C3E50;
  --green: #1ABC9C;
  --light-grey: #3A546D;
}

.container-fluid {
  background-color: green;
}

header {
  background-color: var(--dark-grey);
}

.row {
  background-color: rgb(0, 247, 255);
}


[class *="col"] {
  background-color: yellow;
  color: blue;
  border: 1px solid blue;
}

.sub-container {
  margin: 0 auto;
}

.jumbotron .img {
  height: 200px;
  width: 200px;
  border: 3px solid beige;
  background-color: white;
  border-radius: 50%;
}

.portfolio .row {
  width: 100%;
}

.window {
  background-color: red;
  height: 300px;
  border-radius: 20px;
  
}

/* MEDIA QUERY */
@media screen and (min-width: 0) {

  .sub-container.wide {
    width: 100%;
  }
  .sub-container.small {
    width: 90%;
  }
  .ham-off {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  .sub-container.wide {
    width: 80%;
  }
  .sub-container.small {
    width: 60%;
  }
  .ham-on {
    display: none;
  }
  .ham-off {
    display: block;
  }
}

@media screen and (min-width: 992px) {

  .sub-container.wide {
    width: 70%;
  }
  .sub-container.small {
    width: 50%;
  }
}


