
.row {
  background-color: rgb(0, 247, 255);
}


[class *="col"] {
  background-color: yellow;
  color: blue;
  border: 1px solid blue;
}

.sub-container {
  margin: 0 auto;
}

.jumbotron .img {
  height: 200px;
  width: 200px;
  border: 3px solid beige;
  background-color: white;
  border-radius: 50%;
}

.portfolio .row {
  width: 100%;
}

.window {
  background-color: red;
  height: 300px;
  border-radius: 20px;
  
}

header {
  background-color: var(--bs-gray-dark);
}

.jumbotron,
.about {
  background-color: var(--bs-teal);
}

.portfolio,
.contact {
  background-color: var(--bs-white);
}

.up-footer {
  background-color: rgb(81, 100, 136);
}

.bot-footer {
  background-color: var(--bs-gray-dark);
}

/* MEDIA QUERY */
@media screen and (min-width: 0) {
  
  .sub-container.wide {
    width: 100%;
  }
  .sub-container.small {
    width: 90%;
  }
  .ham-off {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  .sub-container.wide {
    width: 80%;
  }
  .sub-container.small {
    width: 60%;
  }
  .ham-on {
    display: none;
  }
  .ham-off {
    display: block;
  }
}

@media screen and (min-width: 992px) {

  .sub-container.wide {
    width: 70%;
  }
  .sub-container.small {
    width: 50%;
  }
}


