.container-fluid {
  background-color: green;
}

.row {
  background-color: rgb(0, 247, 255);
}

[class *="col"] {
  background-color: yellow;
  color: blue;
  border: 1px solid blue;
}

.sub-container {
  margin: 0 auto;
}

.jumbotron .img {
  height: 200px;
  width: 200px;
  border: 3px solid beige;
  background-color: white;
  border-radius: 50%;
}

/* MEDIA QUERY */
@media screen and (min-width: 0) {
  body {
    background-color: rgb(171, 145, 175);
  }
  header .sub-container {
    width: 100%;
  }
  .ham-off {
    display: none;
  }
  .jumbotron .sub-container {
    width: 90%;
  }
  
}

@media screen and (min-width: 768px) {
  body {
    background-color: rgb(194, 91, 151);
  }
  header .sub-container {
    width: 80%;
  }
  .ham-on {
    display: none;
  }
  .ham-off {
    display: block;
  }
  .jumbotron .sub-container {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: rgb(234, 0, 255);
  }
  header .sub-container {
    width: 70%;
  }
    .jumbotron .sub-container {
    width: 50%;
  }
}


